body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: rgb(247, 247, 247);
}
body::-webkit-scrollbar {
    display: none; /* Scrollbar ausblenden */
}
ul {
    list-style: none; /* Remove default list dots */
    padding: 0 0 0 0rem;
    margin: 0;
}
li {
    margin-bottom: 20px; /* Space between items */
    max-width: 600px;
}
.big-text {
    font-size: 1.5em; /* Make the word larger */
    font-weight: 300;
}
hr {
    border: 0;
    border-top: 1px solid #ccc; /* Horizontal line */
    margin: 5px 0;

}
.description {
    display: block;
    font-size: 1.2em; /* Regular text size for the description */
    font-weight: 300;
    color: #515151; /* You can adjust color to your preference */
    margin-left: 0.6rem;
    margin-bottom: 60px;
}
.section-headline {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 4em;
    font-weight: 200;
    padding: 0 25px;
}
.point {
    font-weight: 400;
}
.programming-languages {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #ff8888; /* Light gray background for the group */
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 20px;
}
.programming-languages li {
    margin: 5px 0; /* Less margin between items in the group */
}
.section-caption {
    font-weight: 500;
    margin-bottom: 10px;
    font-size: 18px;
}
.other-technologies {
    background-color: #88cfff;
    padding: 15px;
    border-radius: 5px;
}