footer {
    display: flex;
    justify-content: center;
    text-align: center;
    background: #333;
    color: white;
    padding: 1rem;
    width: calc(100% - 2rem);
    bottom: 0;
}
footer a {
    color: white;
    text-decoration: underline;
}