footer {
    display: flex;
    justify-content: center;
    text-align: center;
    background: rgb(247, 247, 247);
    color: #333;
    padding: 1rem;
    width: calc(100% - 2rem);
    bottom: 0;
}

footer a {
    color: #333;
    text-decoration: underline;
}